# Virtual environment
venv/
env/
.env/

# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
.Python
db.sqlite3
media

# Environment variables
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# pyenv
.python-version

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Local settings
local_settings.py

# Static and media files
staticfiles/
media/
